.e_body {
	display: flex;
	flex-direction: column;
	background: rgb(63, 63, 63);
	background: linear-gradient(
		180deg,
		rgba(63, 63, 63, 1) 8%,
		rgba(13, 13, 13, 1) 100%
	);
}
.e_backButton {
	/* position: absolute; */
	top: 4%;
	left: 3%;
	text-align: center;
	border-radius: 0.5em;
	position: absolute;
	border: none;
	padding: 1.5% 2%;
	color: white;
	background: rgb(39, 196, 214);
	background: linear-gradient(153deg, #2dccd3 0%, #17aede 100%);
	cursor: pointer;
	z-index: 2;
	overflow: hidden;
	transition: 0.5s all ease;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-size: calc(9px + (18 - 9) * ((100vw - 320px) / (1440 - 320)));
}
.e_backButton:hover {
	transform: scale(110%);
}
.e_main {
	width: 100%;
	display: flex;
	height: 70%;

	justify-content: center;
	align-items: flex-start;
	background: transparent;
}
.e_mainContainer {
	width: 70%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.e_video {
	/* height: auto; */
	/* max-height: 100%; */
	max-width: 100%;
	max-height: 100%;
	/* height: 100%; */
	/* width: 100%; */
	display: flex;
}
.e_footer {
	position: relative;
	width: 100%;
	height: 30%;
	/* height: auto; */
	flex: 1;
	/* gap: 2vh; */
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: visible;
	pointer-events: none;
}
.e_buttonGroupContainer {
	position: absolute;
	right: 3%;
	top: 0%;
	height: 100%;
	/* margin-bottom: 3vh; */
	justify-content: center;
	align-items: center;
	gap: 2vh;
	display: flex;
	flex-direction: column;
	pointer-events: all;
}
.e_buttonGroupContainer button {
	font-weight: 500;
	cursor: pointer;
}
.e_buttonGroup {
	gap: 0vh;
	display: flex;
}
.e_subButtonGroup {
	gap: 0vh;
	display: flex;
	height: 10vh;
}

.e_button {
	border: solid 0.2vh #88dee2;
	background: #dff8f9;
	color: #5eb9bd;
	font-size: calc(9px + (18 - 9) * ((100vw - 320px) / (1440 - 320)));
	padding: 2vh;
	border-radius: 1vh;
}
.e_subButton {
	font-size: calc(7px + (12 - 7) * ((100vw - 320px) / (1440 - 320)));
	padding: 1vh;
	border-radius: 1vh;
	border: solid 0.2vh #88dee2;
	background: #dff8f9;
	color: #5eb9bd;
	cursor: pointer;
	white-space: pre-wrap;
}
.e_activeButton {
	background: linear-gradient(153deg, #2dccd3 0%, #17aede 100%);
	color: #ffffff;
}
.e_activeButtonPurple {
	background: linear-gradient(
		38deg,
		rgba(193, 127, 227, 1) 0%,
		rgba(104, 49, 142, 1) 100%
	);
	color: #ffffff !important;
}
.e_buttonPurple {
	border: solid #8148a9 0.2vh;
	color: #5d2884;
	background-color: #e8cef5;
}
.e_steeringImg {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}
