*,
::after,
::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.pD_body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: rgb(39, 196, 214);
	background: linear-gradient(153deg, #2dccd3 0%, #17aede 100%);
	padding: 3vh;
}
.pD_body > * {
	text-align: center;
}

.pD_nav {
	width: 100%;
	height: 25%;
	display: block;
	background: transparent;
	display: flex;
	flex-direction: column;
}
.pD_main {
	width: 100%;
	display: block;
	height: 75%;
	background: transparent;
}

.pD_button {
	border: none;
	border-bottom: 0.2em solid hsla(360, 100%, 100%, 0.7);
	padding: 2vh 3.5vh;
	background: transparent;
	transition: 0.5s border-width ease;
	margin-bottom: -3px;
	color: white;
}
.pD_button:hover {
	border-bottom: 0.5em solid white;
}
.pdHeaderImage {
	width: 100%;
	height: 50%;
}
.pD_buttonGroup {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 35%;
}

.pD_svg {
	padding: 20px;
}
