html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;

	overflow: hidden;
	/* padding: 3vh; */
}
.pD_body {
	display: flex;
	flex-direction: column;
	background: rgb(39, 196, 214);
	background: linear-gradient(153deg, #2dccd3 0%, #17aede 100%);
}
/* .pD_body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: rgb(39, 196, 214);
	background: linear-gradient(153deg, #2dccd3 0%, #17aede 100%);
	padding: 3vh;
} */
.pD_body > * {
	text-align: center;
}
.exit {
	position: absolute;
	left: 6vh;
	top: 2vh;
	font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1440 - 320)));
	color: white;
	text-shadow: 0.5vh 0.5vh 2px #17aede;
}

.pD_nav {
	width: 100%;
	height: 25%;
	/* gap: 2vh; */
	padding-top: 4vh;
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pD_button {
	border: none;
	border-bottom: 0.2em solid hsla(360, 100%, 100%, 0.7);
	padding: 2vh 1.5vh;
	background: transparent;
	transition: 0.5s border-width ease;
	/* margin-bottom: -3px; */
	color: white;
	font-size: calc(8px + (13 - 8) * ((100vw - 320px) / (1440 - 320)));
	cursor: pointer;
}
/* .pD_button:hover {
	border-bottom: 0.5em solid white;
} */
.pdHeaderImage {
	width: 100%;
	height: 50%;
}
.pD_buttonGroup {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 50%;
}

.pD_svgContainer {
	/* padding-top: 2.5vh; */
	width: 100%;
	display: flex;
	justify-content: center;
}
.pD_svg {
	width: 80%;
}
.pD_main {
	width: 100%;
	display: flex;
	height: 75%;

	justify-content: center;
	align-items: center;
	background: transparent;
}
.pD_mainContainer {
	width: 70%;
	height: 92%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pD_video {
	/* height: auto; */
	max-height: 90%;
	max-width: 100%;
	/* height: 100%; */
	/* width: 100%; */
	display: flex;
}
.pD_image {
	width: 100%;
	height: 100%;
	display: flex;
}

.pD_buttonGroup button:first-child {
	border-bottom: 0.5em solid white;
}
